@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'WandohopeB';
}

@media (max-width:800px) {
    
    body{
        margin: 0;
    }

    #menu ul li{
        margin-bottom: 10px;
    }

    #menu .menu_link {
        text-align: center;
    }

    article{
        padding: 5px;
    }

    article#human{
        width: 100%;
        padding: 0 0 10px 0;
    }

    article#animal{
        width: 100%;
        padding: 0 0 10px 0;
    }

}